.hero {
  background: linear-gradient(
    152.04deg,
    rgb(56, 54, 56) 1.732%,
    rgb(11, 11, 11) 27.783%
  );
  height: 877px;
}
.hero_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  flex-wrap: wrap;
}
.hero_text {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero_text h1 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0%;
  text-align: left;
}
.hero_text p {
  color: rgb(139, 142, 153);
  font-size: 16px;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0%;
  text-align: left;
}
.search {
  width: 443px;
  padding: 20px;
  height: 60px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}
.search input {
  flex: 1;
  height: 60px;
  outline: 0;
  padding: 10px;
  border: 0;
  color: rgb(139, 142, 153);
  font-size: 16px;
}
.search button {
  width: 112px;
  height: 45px;
  border-radius: 9px;
  cursor: pointer;
  border: 0;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 125.5%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(56, 88, 214);
}
