.footer {
  height: 65px;
  background: rgb(11, 11, 11);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0%;
  text-align: left;
}
